/*
    books.css
    Jeff Ondich, 27 April 2016
    Updated 6 May 2018

    Styles for the "books and authors" webapp sample
    for CS 257, Spring 2016.
*/
.advanced_options_form {
  content: "";
  display: table;
  clear: both;
}

.advanced_options_form_box{
  border: 5px solid #78BE97;
}

.column {
  float: left;
  width: 20.00%
  padding: 10px;
  background-color: #CEF19E;
}

.heading {
  font-size: 25px;
  color: #0B476D;
  font-family: Arial;
  text-align: center;
}

.settings_box{
  font-size: 18px;
  width: 300px;
  border: 25px solid #78BE97;
  background-color: #CEF19E;
  padding: 25px;
  margin: 5px;
  text-align: right;
}

.settings_header {
  font-size: 30px;
  text-height: 35px;
  font-family: Lucida Console;
  color: white;
  background-color: #398689;
  width: 300px;
  text-align: center;
}


table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}
