/*
    books.css
    Jeff Ondich, 27 April 2016
    Updated 6 May 2018

    Styles for the "books and authors" webapp sample
    for CS 257, Spring 2016.
*/
.advanced_options_form {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%
  padding: 10px;
  background-color: lightgray;

}

.heading {
  font-size: 25px;
  color: darkgreen;
  font-family: Arial;
  text-align: center;
}

.settings {
  font-size: 25px;
  text-height: 28px;
  font-family: Lucida Console;
  color: white;
  background-color: palegreen;
  width: 300px;
  text-align: center;
}

.outer_box{
  width: 300px;
  border: 25px solid green;
  background-color: silver;
  padding: 25px;
  margin: 5px;
}

.text_box_formatting{
  float: left;
}

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}
