<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='majors.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='majors.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mcdonnellp.jpg') }}" />
    <title>CS 257: Software Design, Spring 2017</title>

</head>

<body>
    <div class = 'heading'>Find majors and compare with economic data</div>
    <div class = 'outer_box'>
        <div class = 'settings'> Settings </div>
        <form id = "majors_form">
          Number of entries: <div class = "text_box_formatting">
          <input type="text" name="Limit" id="lim">
          </div><br>
          Category: <div class = "text_box_formatting">
          <input type="text" name="Category" id="cat">
          </div><br>
          Major: <div class = "text_box_formatting">
          <input type="text" name="Major" id="maj">
          </div><br>
          Minimum Salary: <div class = "text_box_formatting">
          <input type="text" name="MinimumSalary" id="min_sal">
          </div><br>
          Sort By:
          <select name="SortBy" id="sort">
            <option value=""></option>
            <option value="major">Major</option>
            <option value="total">Total</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="category">Category</option>
            <option value="employed">Employed</option>
            <option value="full_time">Employed Full Time</option>
            <option value="part_time">Employed Part Time</option>
            <option value="unemployed">Unemployed</option>
            <option value="median">Median Salary</option>
            <option value="p25th">25th Percentile Salary</option>
            <option value="p75th">75th Percentile Salary</option>
            <option value="college_jobs">College Jobs</option>
            <option value="non_college_jobs">Non College Jobs</option>
            <option value="low_wage_jobs">Low Wage Jobs</option>
            <option value="percent_men">Percent Men</option>
            <option value="percent_women">Percent Women</option>
            <option value="percent_employed">Percent Employed</option>
            <option value="percent_full_time">Percent Employed Full Time</option>
            <option value="percent_part_time">Percent Employed Part Time</option>
            <option value="unemployment_rate">Unemployment Rate</option>
            <option value="percent_college_jobs">Percent College Jobs</option>
            <option value="percent_non_college_jobs">Percent Non-College Jobs</option>
            <option value="percent_low_wage_jobs">Percent Low Wage Jobs</option>
          </select>
        </form>
    </div>
    <br>
    <div class = "toggle_advanced_options_button">
      <button id="advanced_options_button" onclick="toggleAdvancedOptions()" style="font-family: Verdana; font-size : 16px; height: 26px; background-color: powderBlue; color: mediumBlue;">Show Advanced Options</button>
    </div>
    <div class = "advanced_options_form">
      <form id = "advanced_options_form"></form>
    </div>
    <p> "World is beautiful and find your vocation! We are believing in you"</p>
    <div class = "majors_button">
      <button id="majors_button" style="font-family: Verdana; font-size : 22px; height: 50px; background-color: forestGreen; color: seashell; font-weight: bold;">Get majors</button>
    </div>
    <p><table id="results_table"></table></p>
  </body>
</html>
