<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='majors.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='majors.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design, Spring 2017</title>

    <style>
.whoa {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
    font-size: 250%;
}
    </style>
</head>

<body>
    <h1>CS 257: Alec and Bat's Web App</h1>

    <form id = "majors_form">
      Number of entries:<br>
      <input type="text" name="Limit" id="lim">
      <br>
      Category:<br>
      <input type="text" name="Category" id="cat">
      <br>
      Major:<br>
      <input type="text" name="Major" id="maj">
      <br>
      Minimum Salary:<br>
      <input type="text" name="MinimumSalary" id="min_sal">
      <br>
      Sort By:<br>
      <select name="SortBy" id="sort">
        <option value=""></option>
        <option value="major">Major</option>
        <option value="total">Total</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="category">Category</option>
        <option value="employed">Employed</option>
        <option value="full_time">Employed Full Time</option>
        <option value="part_time">Employed Part Time</option>
        <option value="unemployed">Unemployed</option>
        <option value="median">Median Salary</option>
        <option value="p25th">25th Percentile Salary</option>
        <option value="p75th">75th Percentile Salary</option>
        <option value="college_jobs">College Jobs</option>
        <option value="non_college_jobs">Non College Jobs</option>
        <option value="low_wage_jobs">Low Wage Jobs</option>
        <option value="percent_men">Percent Men</option>
        <option value="percent_women">Percent Women</option>
        <option value="percent_employed">Percent Employed</option>
        <option value="percent_full_time">percent Employed Full Time</option>
        <option value="percent_part_time">percent Employed Part Time</option>
        <option value="unemployment_rate">Unemployment Rate</option>
        <option value="percent_college_jobs">Percent College Jobs</option>
        <option value="percent_non_college_jobs">Percent Non-College Jobs</option>
        <option value="percent_low_wage_jobs">Percent Low Wage Jobs</option>
      </select>

      <input type="checkbox" value="category" id="category"><label for="Cctegory"> Category</label>
      <input type="checkbox" value="total" id="total"><label for="total"> Total Students</label>
      <input type="checkbox" value="percent_male" id="percent_male"><label for="percent_male"> Percent Male</label>
      <input type="checkbox" value="percent_female" id="percent_female"><label for="percent_female"> Percent Female</label>

      <input type="checkbox" value="median" id="median"><label for="median"> Median Salary</label>
      <input type="checkbox" value="p75th" id="p75th"><label for="p75th"> 75th Percentile Salary</label>

      <input type="checkbox" value="percent_employed" id="percent_employed"><label for="percent_employed"> Percent Employed</label>
      <input type="checkbox" value="percent_part_time" id="percent_part_time"><label for="percent_part_time"> Percent Employed Full-time</label>
      <input type="checkbox" value="percent_part_time" id="percent_part_time"><label for="percent_part_time"> Percent Employed Part-time</label>
      <input type="checkbox" value="unemployment_rate" id="unemployment_rate"><label for="unemployment_rate"> Unemployed Rate</label>

      <input type="checkbox" value="percent_college_jobs" id="percent_college_jobs"><label for="percent_college_jobs"> Percent College Jobs</label>
      <input type="checkbox" value="percent_non_college_jobs" id="percent_non_college_jobs"><label for="percent_non_college_jobs"> Percent Non-College Jobs</label>
      <input type="checkbox" value="percent_low_wage_jobs" id="percent_low_wage_jobs"><label for="percent_low_wage_jobs"> Percent Low-Wage Jobs</label>
    </form>

    <p><button id="majors_button">Get majors</button></p>

    <p><table id="results_table"></table></p>

    <p>We <span class="whoa">love this</span>
        user interface. We will totally copy it for our project!</p>

    <p><strong>Why is this page this way?</strong> Because I want to give you an example
    that illustrates the core techniques you'll need for your web application project,
    but does so in as minimal a way as possible. So you'll find a little HTML, a little CSS, a little
    Javascript, and access to a database-drive API, but nothing more. You can't even search for
    a book or author by name, which would be fundamental features if I actually wanted to
    make this application useful.</p>

  </body>
</html>
