<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='majors.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='majors.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mcdonnellp.jpg') }}" />
    <title>Majors Database</title>
</head>
<body>
  Instructions go here
</body>
</html>
